/* Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  background: linear-gradient(135deg, #2b2b2b, #1a1a1a);
  color: rgb(204, 204, 219);
  text-align: center;
  border-radius: 25px;
  margin: auto; 
}

.home-title {
  font-size: 3rem;
  margin-bottom: 20px;
  padding: 5px ;
}

.home-button {
  background-color: #646cff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 20px;
}

.home-button:hover {
  background-color: #535bf2;
}

.home-register {
  background-color: #4caf50;
}

.home-register:hover {
  background-color: #45a049;
}
